<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
      <p> Lucia has worked in theaters all over the world. She offers private and group classes of ballet and pilates for all ages as well as Breathwork Sessions. 
        She loves sharing her passion for movement, body and mind. </p>
      </div>
      <div class="col-lg-4">
        <p>Whether you have experience or not; if you are looking to get stronger, move and connect with your body this is the place for you!
          Contact me.</p>
      </div>
    </div>
  </div>
</section>
